
.groups-top {
  border-bottom: solid rgba(0, 0, 0, 0.227) 1px;
  padding-bottom: 10px;
}

.groupInfo {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.group-title-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 20px;
  border-bottom: solid rgba(0, 0, 0, 0.227) 1px;
  margin-bottom: 10px;
}

.group-specifics {
  display: flex;
  flex-direction: column;
  flex: 1 1 40%;
}

.specifics-lines {
  display: inline-flex;
  align-items: center;
  margin-left: 20px;
}

.specifics-lines > i {
  margin: 5px;
}

.group-preview-image-container {
  flex: 1 1 60%;
}

.group-preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px
}

.group-edit-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5px;
  margin-bottom: 10px;
}

.single-group-details {
  background-color: #f6f7f8;
  display: flex;
  margin: 10px;
  height: 100%;
}

.group-about {
  display: flex;
  flex-direction: column;
  margin: 10px;
  flex: 0 1 50%;
}

.group-about > p {
  padding-left: 10px;
  margin-top: 0;
}

.group-images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: solid rgba(0, 0, 0, 0.227) 1px;
  flex: 0 1 50%;
  padding-left: 10px;
  padding-right: 10px;
}

.group-images {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.group-image-container {
  grid-column: auto;
}

.group-image {
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
}
