.edit-group-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.edit-group-element {
  margin: 10px;
}

.edit-group-input {
  margin: 10px;
  width: 100%;
}
.edit-group-checkbox-element{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-group-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px
}

.update-group-button {
  margin-bottom: 10px;
}
