/* TODO Add site wide styles */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

* {
  font-family: 'Roboto', sans-serif;
}

.site-container {
  display: inline-block;
  align-items: center;
  width: 75%;
  min-height: 100%;
}

.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

p {
  font-weight: 300;
}

h3, h4, label {
  font-weight: 500;
}

h1 {
  font-weight: 700;
}

button {
  background: #008294;
  color: white;
  padding: 16px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-weight: 700;
}

button:disabled {
  background-color: lightslategrey;
}
