time {
  color: rgb(117 117 117);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

i {
  color: #008294;
}

.single-event {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.delete-event-button {
  max-width: 25%;
  margin-left: 10px;
}

.single-event-info {
  margin-top: 10px;
  border-bottom: solid rgba(0, 0, 0, 0.227) 1px;
  width: 100%;
}

.single-event-info > time h1 {
  margin: 0 0 0 10px;
}

.event-container {
  background-color: #f6f7f8;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.event-image-info {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.event-preview-image-container {
  flex: 1 1 60%;
}

.event-preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 10px
}

.single-event-details {
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 100%;
}

.other-event-info {
  height: 100%;
  flex: 1 1 40%;
  margin-left: 50px
}

.event-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.event-group-info {
  margin-left: 10px;
}

.event-group-info > p {
  margin: 0;
}

.event-time-location {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.time {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.time > time {
  margin-left: 10px;
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.location > p {
  font-weight: 400;
  color: rgb(117 117 117);
  margin-left: 10px;
}

.event-address {
  display: flex;
  flex-direction: column;
  margin: 10px
}

.event-address > p {
  margin: 0;
}
